.container-fluid{ width:1170px;}
.span12{ width:1170px; }
.footer-top .span4{ width:370px; }
.ch-info h3{ color:#4A4A4A ; }
.ch-info p a{ color:#232323;}
#mega_menu .dropdown_fullwidth.first_fullwidth.link_id_15{    left: auto;    right: 0 !important;}
#mega_menu .dropdown_fullwidth.first_fullwidth.link_id_6{    left: auto;    right: 0 !important;}
#mega_menu .dropdown_fullwidth.first_fullwidth.link_id_7{    left: auto;    right: 0 !important;}
#mega_menu .dropdown_fullwidth.first_fullwidth.link_id_8{    left: auto;    right: 0 !important;}
#mega_menu .dropdown_fullwidth.first_fullwidth.link_id_9{    left: auto;    right: 0 !important;}

.span1{ margin-bottom:35px;}
.span2{ margin-bottom:35px;}
.span3{ margin-bottom:35px;}
.span4{ margin-bottom:35px;}
.span5{ margin-bottom:35px;}
.span6{ margin-bottom:35px;}
.span7{ margin-bottom:35px;}
.span8{ margin-bottom:35px;}
.span9{ margin-bottom:35px;}
.span10{ margin-bottom:35px;}
.span11{ margin-bottom:35px;}
.span12{ margin-bottom:35px;}